.Tilt{
    background: linear-gradient(135deg,  #12c2e9, #c471ed, #f64f59);
    display: flex;
    justify-content: flex-start;
    padding: 6px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Tilt img {
    height: 100%;
}


