.NavigationItem{
    margin: 8px 10px;
    box-sizing: border-box;
    display: block;
    align-items: center;
    width: 100%;
}

.NavigationItem p{
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-decoration: underline;
}
